.xs_textarea
{
    margin-top: 15px !important;
}


#create-modal
{
    width: 90%;
    height: 700px !important;
}

.modal
{
    width: 60%;
    min-height: 700px !important;
}

#modal-add-dogovor
{
    width: 90%;
    min-height: 700px !important;
}