<form class="xs_add__car" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="xs_add__car___top">
        <h1>
            <span class="material-icons">contact_mail</span> Добавить бронь
        </h1>

        <div class="xs_add__car__top____actions">
            <a routerLink="/bookings-page">
                <span class="material-icons">arrow_back_ios</span>Назад
            </a>
            <button type="submit">
                <span class="material-icons">beenhere</span>Сохранить
            </button>
        </div>
    </div>

    <div class="xs_add__car__content">
        <div class="row">
            <div class="col s12">
                <ul class="tabs" #tabs>
                    <li class="tab col"><a href="#information" class="active">Общая информация</a></li>
                </ul>
            </div>

            <div id="information" class="col s12">
                <div class="xs_form">
                    <div class="xs_form__item">

                        <div class="input-field col s12" >
                            <div><label for="marka">Дата начала брони<span class="xszv">*</span></label></div>
                            <input placeholder="Введите значение" id="booking_start" type="datetime-local"  class="validate"
                                formControlName="booking_start"
                                [ngClass]="{'invalid': form.controls['booking_start'].invalid && form.controls['booking_start'].touched}"
                                (change)="bookingStartDate($event)" min=""  >
                        </div>




                        <div class="xs_form__item___mod">
                            <label for="car">Автомобиль<span class="xszv">*</span></label>
                            <div class="input-field col s12">
                                <select id="car" formControlName="car"
                                    [ngClass]="{'invalid': form.controls['car'].invalid && form.controls['car'].touched}"  (ngModelChange)="onChangeCar($event)">
                                    <option value="" disabled selected>Выберите автомобиль</option>
                                    <option *ngFor="let xscar of xscars$ | async" value="{{xscar | json}}">{{xscar.marka}} {{xscar.model}} ({{xscar.number}})</option>
                                </select>
                            </div>
                        </div>
                        
                        

                        


                        <div> 
                            <label for="tariff">Тариф<span class="xszv">*</span></label>
                            <div class="tariff-field input-field col s12" style="margin-top: 0; margin-bottom: 10px;">
                                <select id="tariff" formControlName="tariff"
                                    [ngClass]="{'invalid': form.controls['tariff'].invalid && form.controls['tariff'].touched}"
                                    (ngModelChange)="onChangeTariff($event)">
                                    <option value="" disabled selected>Выберите тариф</option>
                                    <option value="Город">Город</option>
                                    <option value="Межгород">Межгород</option>
                                    <option value="Россия">Россия</option>
                                    <option value="Смешанный">Смешанный</option>
                                </select>
                            </div>
                        </div>

                        
                        <div class="mixed_tarif" *ngIf="isMixedTarif">
                            <div class="checkboxs_row">
                                <div>
                                    <label>
                                        <div>Город</div>
                                        <input type="checkbox" style="margin-right: 15px;" formControlName="tarif_mixed_gorod" (ngModelChange)="onChangeMixedTarifGorod($event)">
                                    </label>

                                    <label>
                                        <input type="number" placeholder="Кол-во дней" formControlName="tarif_mixed_gorod_days" (ngModelChange)="onChangeMixedTarifGorodDays($event)">
                                    </label>
                                </div>
                                

                                <div>
                                    <label>
                                        <div>Межгород</div>
                                        <input type="checkbox" style="margin-right: 15px;"  formControlName="tarif_mixed_mezjgorod" (ngModelChange)="onChangeMixedTarifMezjGorod($event)">
                                    </label>
                                
                                    <label>
                                        <input type="number" placeholder="Кол-во дней" formControlName="tarif_mixed_mezjgorod_days" (ngModelChange)="onChangeMixedTarifMezjGorodDays($event)">
                                    </label>
                                </div>


                                <div>
                                    <label>
                                        <div>Россия</div>
                                        <input type="checkbox" style="margin-right: 15px;" formControlName="tarif_mixed_russia" (ngModelChange)="onChangeMixedTarifRussia($event)">
                                    </label>
                                
                                    <label>
                                        <input type="number" placeholder="Кол-во дней" formControlName="tarif_mixed_russia_days" (ngModelChange)="onChangeMixedTarifRussiaDays($event)">
                                    </label>
                                </div>
                            </div>
                        </div>



                        <div class="xs_form__item___mod">
                            <label for="place_start">Место выдачи<span class="xszv">*</span></label>
                            <div class="input-field col s12">
                                <select id="place_start" formControlName="place_start"
                                    [ngClass]="{'invalid': form.controls['place_start'].invalid && form.controls['place_start'].touched}"
                                    (ngModelChange)="onChangePlaceStart($event)">
                                    <option value="" disabled selected>Офис</option>
                                    <option value="Офис">Офис</option>
                                    <option value="Аэропорт">Аэропорт</option>
                                    <option value="Ж/д вокзал">Ж/д вокзал</option>
                                    <option value="ТЦ Кристалл">ТЦ Кристалл</option>
                                    <option value="Тц Сити Молл">Тц Сити Молл</option>
                                </select>
                            </div>
                        </div>

                        <div class="input-field col s12">
                            <div class="xs_custome__zalog xs_custome_place_start">
                                <label class="xs_paid_sale__wrap">
                                    <input type="checkbox" formControlName="isCustomePlaceStartControlclick" id="isCustomePlaceStartControlclick"  (click)="xs_isCustomePlaceStartCheck()">
                                    <div>Произвольное место подачи</div>
                                </label>
                            
                                <div class="xs_paid_sale__hide  customeStartPlaceWrap" *ngIf="isCustomePlaceStart">
                                    <input type="text" placeholder="Введите место подачи" formControlName="isCustomePlaceStartControl"
                                        id="isCustomePlaceStartControl" >

                                    <input type="text" placeholder="Введите цену" formControlName="isCustomePlaceStartControlPrice"
                                        id="isCustomePlaceStartControlPrice" (ngModelChange)="onChangeisCustomePlaceStartControlPrice($event)"> руб
                                </div>
                            </div>

                            <div class="xs_custome__zalog">
                                <label class="xs_paid_sale__wrap">
                                    <input type="checkbox" (click)="xs_isCustomeZalogCheck()" formControlName="isCustomeZalogControlclick" id="isCustomeZalogControlclick">
                                    <div>Произвольный залог</div>
                                </label>
                            
                                <div class="xs_paid_sale__hide" ng-model='xs_isCustomeZalogCheck' *ngIf="isCustomeZalog">
                                    <input type="text" placeholder="Введите сумму" formControlName="isCustomeZalogControl"
                                        id="isCustomeZalogControl" (change)="onCustomeZalogValue($event)" (blur)="onBlurMethod($event)"> руб
                                </div>
                            </div>


                            <div class="input-field col s12" style="margin-top: 0;">
                                <div class="xs_custome__zalog xs_custome_place_start">
                                    <label class="xs_paid_sale__wrap">
                                        <input type="checkbox" formControlName="isCustomePlaceInputControlclick"
                                            id="isCustomePlaceInputControlclick" (click)="xs_isCustomePlaceInputCheck()">
                                        <div>Произвольное место приема</div>
                                    </label>
                            
                                    <div class="xs_paid_sale__hide  customeStartPlaceWrap" *ngIf="isCustomePlaceInput">
                                        <input type="text" placeholder="Введите место подачи" formControlName="isCustomePlaceInputControl"
                                            id="isCustomePlaceInputControl">
                            
                                        <input type="text" placeholder="Введите цену" formControlName="isCustomePlaceInputControlPrice"
                                            id="isCustomePlaceInputControlPrice" (ngModelChange)="onChangeisCustomePlaceInputControlPrice($event)">
                                        руб
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="xs_form__item">

                        <div class="input-field col s12">
                            <div><label for="marka">Дата окончания брони<span class="xszv">*</span></label></div>
                            <input  placeholder="Введите значение" id="booking_end" type="datetime-local" class="validate"
                                formControlName="booking_end"
                                [ngClass]="{'invalid': form.controls['booking_end'].invalid && form.controls['booking_end'].touched}"
                                (change)="bookingEndDate($event)" min="{{minDateBooking}}" >
                        </div>



                        <div class="xs_form__item___mod xs_form__item___mod___client">
                            <fieldset>
                                <label for="marka">Тип клиента<span class="xszv">*</span></label>
                                <div class="input-field col s12">
                                    <select id="client" formControlName="client" (change)="changeTypeClient($event)"
                                        [ngClass]="{'invalid': form.controls['client'].invalid && form.controls['client'].touched}">
                                        <option value="" selected disabled hidden>Выберите тип клиента</option>
                                        <option value="fiz"  selected>Физическое лицо</option>
                                        <option value="law">Юридическое лицо</option>
                                    </select>
                                </div>
                            </fieldset>

                            <div class="xs_fiz__search" *ngIf="fizSearchIsVisible">
                            <!-- <div class="xs_fiz__search" > -->
                                <div class="xs_search">
                                    <label for="marka">Поиск клиента по Фамилии<span class="xszv">*</span></label>
                                    <div class="xs_search__box">
                                        <div class="input-field col s12">
                                            <input type="text" (keyup)="searchData($event)" placeholder="Введите для поиска..." formControlName="search_fiz" id="search_fiz">
                                        </div>
                                        
                                        <span class="material-icons" title="Выбрать клиента из списка" (click)="changeClientModal()">dehaze</span>
                                    </div>
                                
                                    <div class="xs_header_search_result" *ngIf="hasQuery">
                                        <div *ngIf="searchResult.length < 1 && hasQuery" class="search_noresult_item">Результатов не найдено...</div>

                                        <div *ngFor="let client of searchResult" class="search_result_item" (click)="changeClient(client)">
                                            <div>{{client.surname}} {{client.name}} {{client.lastname}}</div>
                                        </div>
                                    </div>

                                    <!-- Для физика -->
                                    <div class="input-field col s12" *ngIf="isActiveDogovor === 'isActive'">
                                        <div class="xs_search_result__error___active____dogovor xs_search_result__error___active____dogovor_true" >
                                            Есть активный договор!!!
                                        </div>
                                    </div>

                                    <div class="input-field col s12 no_dogovor_active" *ngIf="isActiveDogovor === 'no_isActive'">
                                        <div class="xs_search_result__error___active____dogovor xs_search_result__error___active____dogovor_false_publick">
                                            <span (click)="modalAddDogovor()">Создать договор</span>
                                        </div>
                                    </div>

                                    <div class="input-field col s12" *ngIf="is_dogovor_finish_compare_booking === 'isDogovorFinish'">
                                        <div class="xs_search_result__error___active____dogovor xs_search_result__error___active____dogovor_false">
                                            Договор истечет во время брони!!!
                                        </div>
                                    </div>
                                    <!-- Для физика -->

                                </div>
                            </div>


                            <div class="xs_law__search" *ngIf="lawSearchIsVisible">
                                <div class="xs_search">
                                    <label for="marka">Поиск клиента по названии организации<span class="xszv">*</span></label>
                                    <div class="xs_search__box">
                                        <div class="input-field col s12">
                                            <input type="text" (keyup)="searchDataLawFase($event)" placeholder="Введите для поиска..."
                                                formControlName="search_law" id="search_law">
                                        </div>
                            
                                        <span class="material-icons" title="Выбрать клиента из списка" (click)="changeClientModal()">dehaze</span>
                                    </div>
                            
                                    <div class="xs_header_search_result" *ngIf="hasQueryLawFase">
                                        <div *ngIf="searchResultLawFase.length < 1 && hasQueryLawFase" class="search_noresult_item">Результатов не найдено...
                                        </div>
                            
                                        <div *ngFor="let client of searchResultLawFase" class="search_result_item" (click)="changeClientLawFase(client)">
                                            <div>{{client.name}}</div>
                                        </div>
                                    </div>

                                    <!-- Для юр.лиц -->
                                    <div class="input-field col s12" *ngIf="isActiveDogovor === 'isActive'">
                                        <div class="xs_search_result__error___active____dogovor xs_search_result__error___active____dogovor_true">
                                            Есть активный договор!!!
                                        </div>
                                    </div>
                                    

                                    
                                    <div class="input-field col s12 no_dogovor_active" *ngIf="isActiveDogovor === 'no_isActive'">
                                        <div class="xs_search_result__error___active____dogovor xs_search_result__error___active____dogovor_false_publick">
                                            <span (click)="modalAddDogovor()">Создать договор</span>
                                        </div>
                                    </div>



                                    
                                    <div class="input-field col s12" *ngIf="is_dogovor_finish_compare_booking === 'isDogovorFinish'">
                                        <div class="xs_search_result__error___active____dogovor xs_search_result__error___active____dogovor_false">
                                            Договор истечет во время брони!!!
                                        </div>
                                    </div>
                                    <!-- Для юр.лиц -->
                                </div>
                            </div>
                        </div>


                      



                        <div class="xs_form__item___mod">
                            <label for="place_start">Место приема<span class="xszv">*</span></label>
                            <div class="input-field col s12">
                                <select id="place_end" formControlName="place_end"
                                    [ngClass]="{'invalid': form.controls['place_end'].invalid && form.controls['place_end'].touched}"
                                    (ngModelChange)="onChangePlaceEnd($event)">
                                    <option value="" disabled selected>Офис</option>
                                    <option value="Офис">Офис</option>
                                    <option value="Аэропорт">Аэропорт</option>
                                    <option value="Ж/д вокзал">Ж/д вокзал</option>
                                    <option value="ТЦ Кристалл">ТЦ Кристалл</option>
                                    <option value="Тц Сити Молл">Тц Сити Молл</option>
                                </select>
                            </div>
                        </div>
                        
  



                        <div class="input-field col s12 xs_textarea">
                            <textarea placeholder="Введите значение" id="comment" type="text" class="materialize-textarea"
                                style="margin-top: 8px;" formControlName="comment"
                                [ngClass]="{'invalid': form.controls['comment'].invalid && form.controls['comment'].touched}"> </textarea>
                            <label for="marka">Комментарий</label>
                            <span class="helper-text red-text" *ngIf="form.controls['comment'].invalid && form.controls['comment'].touched">
                                <p *ngIf="form.controls['comment'].errors?.required">
                                    Поле не должно быть пустым
                                </p>
                            </span>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        

        <div class="xs_add_booking_dop_info">
            <h4>Дополнительная информация:</h4>
            <div class="xs_add_booking_dop_info___wrap">


                <label for="additional_services_chair">
                    <span><input type="checkbox" id="additional_services_chair" class="validate" formControlName="additional_services_chair" (ngModelChange)="onChangeAdditionalServicesInput($event)"></span>
                    <span>Детское кресло</span>
                </label>

                <label>
                    <span><input type="checkbox" id="additional_services_buster" class="validate" formControlName="additional_services_buster" (ngModelChange)="onChangeAdditionalServicesInput($event)"></span>
                    <span>Бустер</span>
                </label>

                <label>
                    <span><input type="checkbox" id="additional_services_videoregister" class="validate" formControlName="additional_services_videoregister" (ngModelChange)="onChangeAdditionalServicesInput($event)"></span>
                    <span>Видеорегистратор</span>
                </label>

                <label>
                    <span><input type="checkbox" id="additional_services_battery_charger" class="validate" formControlName="additional_services_battery_charger" (ngModelChange)="onChangeAdditionalServicesInput($event)"></span>
                    <span>Зарядное устройство</span>
                </label>

                <label>
                    <span><input type="checkbox" id="additional_services_antiradar" class="validate" formControlName="additional_services_antiradar" (ngModelChange)="onChangeAdditionalServicesInput($event)"></span>
                    <span>Антирадар</span>
                </label>

                <label>
                    <span><input type="checkbox" id="additional_services_moyka" class="validate" formControlName="additional_services_moyka" (ngModelChange)="onChangeAdditionalServicesInput($event)"></span>
                    <span>Мойка</span>
                </label>
            </div>
        </div>
    </div>

  



    <div class="xs_summa" *ngIf="this.summa.summa && !isMixedTarif">
        <div >
            <span style="font-weight: bold;">Аренда {{this.summa.summa | number: '1.0-0'}} ₽</span>
            +
            <span *ngIf="!isCustomeZalog ">
                <span *ngIf="this.summa.tariff[0].name === 'Город'">Залог {{this.summa.car.zalog}} ₽</span>
                <span *ngIf="this.summa.tariff[0].name === 'Межгород'">Залог {{this.summa.car.zalog_mej}} ₽</span>
                <span *ngIf="this.summa.tariff[0].name === 'Россия'">Залог {{this.summa.car.zalog_rus}} ₽</span>
            </span>
            <span *ngIf="isCustomeZalog ">
                <span>Залог {{+this.form.value.isCustomeZalogControl}} ₽</span>
            </span>
            +
            <span>
                <span> Подача авто {{this.summa.place_start_price}} ₽</span>
            </span>
            +
            <span>
                <span> Прием авто {{this.summa.place_end_price}} ₽</span>
            </span>
            +
            <span>
                <span> Доп.услуги {{this.summa.additional_services_price}} ₽</span>
            </span>
            +
            <span *ngIf="this.summa.dop_hours > 0 && this.summa.dop_hours < 12 ">
                Доп.час({{this.summa.dop_hours}} ч) {{this.summa.car.price_dop_hour * this.summa.dop_hours}} ₽
            </span> =

            <span *ngIf="this.summa.tariff[0].name === 'Город' && !isCustomeZalog">Итого {{(+summa.summa + (+this.summa.place_start_price)) + 
                this.summa.place_end_price +
                (+this.summa.additional_services_price) +
                (+this.summa.car.zalog) + 
                (this.summa.car.price_dop_hour * this.summa.dop_hours) | number: '1.0-0'}} ₽</span>
    
            <span *ngIf="this.summa.tariff[0].name === 'Межгород' && !isCustomeZalog">Итого {{(+summa.summa + (+this.summa.place_start_price)) + this.summa.place_end_price +
                (+this.summa.additional_services_price) + (+this.summa.car.zalog_mej) + (this.summa.car.price_dop_hour *
                this.summa.dop_hours) | number: '1.0-0'}} ₽</span>
    
            <span *ngIf="this.summa.tariff[0].name === 'Россия' && !isCustomeZalog">Итого {{(+summa.summa + (+this.summa.place_start_price)) + this.summa.place_end_price +
                (+this.summa.additional_services_price) + (+this.summa.car.zalog_rus) + (this.summa.car.price_dop_hour *
                this.summa.dop_hours) | number: '1.0-0'}} ₽</span>



            
            <span *ngIf="this.summa.tariff[0].name === 'Город' && isCustomeZalog">Итого {{(+summa.summa + (+this.summa.place_start_price))
                +
                this.summa.place_end_price +
                (+this.summa.additional_services_price) +
                (+this.form.value.isCustomeZalogControl) +
                (this.summa.car.price_dop_hour * this.summa.dop_hours) | number: '1.0-0'}} ₽</span>
            
            <span *ngIf="this.summa.tariff[0].name === 'Межгород' && isCustomeZalog">Итого {{(+summa.summa +
                (+this.summa.place_start_price)) + this.summa.place_end_price +
                (+this.summa.additional_services_price) + (+this.form.value.isCustomeZalogControl) + (this.summa.car.price_dop_hour *
                this.summa.dop_hours) | number: '1.0-0'}} ₽</span>
            
            <span *ngIf="this.summa.tariff[0].name === 'Россия' && isCustomeZalog">Итого {{(+summa.summa + (+this.summa.place_start_price))
                + this.summa.place_end_price +
                (+this.summa.additional_services_price) + (+this.form.value.isCustomeZalogControl) + (this.summa.car.price_dop_hour *
                this.summa.dop_hours) | number: '1.0-0'}} ₽</span>


        </div>
    </div>


    <div class="xs_summa" *ngIf="isMixedTarif && this.form.value.isCustomeZalogControl ">
        <div>
            <span style="font-weight: bold;" *ngIf="+this.SummaMixedTarif.tarifGorod.summa > 0">Аренда(город) {{this.SummaMixedTarif.tarifGorod.summa | number: '1.0-0'}} ₽ +</span>

            <span style="font-weight: bold;" *ngIf="+this.SummaMixedTarif.tarifMezjGorod.summa > 0">Аренда(межгород) {{this.SummaMixedTarif.tarifMezjGorod.summa | number: '1.0-0'}} ₽ +</span>
            
            <span style="font-weight: bold;" *ngIf="+this.SummaMixedTarif.tarifRussia.summa > 0">Аренда(Россия) {{this.SummaMixedTarif.tarifRussia.summa | number: '1.0-0'}} ₽ +</span>
            
            <span *ngIf="isCustomeZalog ">
                <span>Залог {{+this.form.value.isCustomeZalogControl}} ₽ +</span>
            </span>
            
            <span>
                <span> Подача авто {{this.summa.place_start_price}} ₽ +</span>
            </span>
            
            <span>
                <span> Прием авто {{this.summa.place_end_price}} ₽ +</span>
            </span>
            
            <span>
                <span> Доп.услуги {{this.summa.additional_services_price}} ₽ </span>
            </span>
            
            <span *ngIf="this.summa.dop_hours > 0 && this.summa.dop_hours < 12 ">
            + Доп.час({{this.summa.dop_hours}} ч) {{this.summa.car.price_dop_hour * this.summa.dop_hours}} ₽
            </span> =
            <span>Итого {{(+this.SummaMixedTarif.tarifGorod.summa || 0) + (+this.SummaMixedTarif.tarifMezjGorod.summa || 0) + (+this.SummaMixedTarif.tarifRussia.summa || 0) +
                (+this.summa.place_start_price) +
                this.summa.place_end_price +
                (+this.summa.additional_services_price) +
                (+this.form.value.isCustomeZalogControl) +
                (this.summa.car.price_dop_hour * this.summa.dop_hours) | number: '1.0-0'}} ₽</span>
        </div>
    </div>



    <div class="xs_add__car___top">
        <div class="xs_add__car__top____actions">
            <button type="submit">
                <span class="material-icons">beenhere</span>Сохранить
            </button>
        </div>
    </div>
</form>



<!-- Modal Structure -->
<div class="modal modal-search" id="#create-modal" #modal>
    <div class="modal-content">
        <h4 style="display: flex; align-items: center;">Выберите клиента <span (click)="onCloseModalCreate($event)" class="closeCreateForm">Закрыть</span></h4>
        
        <app-clients-list *ngIf="this.xs_actual_client_type"  [clientType]="this.xs_actual_client_type" (onAddClientForSearch)="inputDataClientsListModule($event)" ></app-clients-list>
    </div>
</div>



<!-- Modal Structure add dogovor -->
<div class="modal modal-add-dogovor"   id="modal-add-dogovor" #modal2>
    <div class="modal-content">
        <app-add-dogovor  *ngIf="isActiveDogovor === 'no_isActive'" [clientId]="xs_actual_search__client_no_json._id" [create_booking_modal_hook]="'is_from_create_booking'" (onCloseModal)="onCloseModal($event)"></app-add-dogovor>
    </div>
</div>





<!-- Modal Structure add dogovor law-->
<div class="modal modal-add-dogovor-law" id="modal-add-dogovor-law" #modal3>
    <div class="modal-content">
        <app-add-dogovor-law *ngIf="isActiveDogovor === 'no_isActive'" [clientId]="xs_actual_search__client_no_json._id"
            [create_booking_modal_hook]="'is_from_create_booking'" (onCloseModal)="onCloseModal($event)">
        </app-add-dogovor-law>
    </div>
</div>