<form class="xs_add__car" [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="actualBooking">
    <div class="xs_add__car___top">
        <h1>
            <span class="material-icons">contact_mail</span> Продлить бронь № {{actualBooking.order}}
        </h1>

        <div class="xs_add__car__top____actions">
            

            <a [routerLink]="['/view-booking',this.bookingId]">
                <span class="material-icons">arrow_back_ios</span>Назад
            </a>

            <button type="submit">
                <span class="material-icons">beenhere</span>Сохранить
            </button>
        </div>
    </div>

    <div class="xs_add__car__content">
        <div class="row">
            <div id="information" class="col s12">
                <div class="xs_form">
                    <div class="xs_form__item">
                        <div class="input-field col s12">
                            <div><label for="marka">Продлить до<span class="xszv">*</span></label></div>
                            <input placeholder="Введите значение" id="booking_end" type="datetime-local" class="validate"
                                formControlName="booking_end"
                                [ngClass]="{'invalid': form.controls['booking_end'].invalid && form.controls['booking_end'].touched}"
                                (change)="bookingEndDate($event)">
                        </div>
                    </div>

                    <div class="xs_form__item">
                        <div>
                            <label for="marka">Тариф<span class="xszv">*</span></label>
                            <div class="input-field col s12">
                                <select id="tariff" formControlName="tariff"
                                    [ngClass]="{'invalid': form.controls['tariff'].invalid && form.controls['tariff'].touched}"
                                    (ngModelChange)="onChangeTariff($event)">
                                    <option value="" disabled selected>Выберите тариф</option>
                                    <option value="Город">Город</option>
                                    <option value="Межгород">Межгород</option>
                                    <option value="Россия">Россия</option>
                                    <option value="Смешанный">Смешанный</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="mixed_tarif" *ngIf=" this.form.value.tariff === 'Смешанный'">
                        <div class="checkboxs_row">
                            <div>
                                <label>
                                    <div>Город</div>
                                    <input type="checkbox" style="margin-right: 15px;" formControlName="tarif_mixed_gorod"
                                        (ngModelChange)="onChangeMixedTarifGorod($event)">
                                </label>
                    
                                <label>
                                    <input type="number" placeholder="Кол-во дней" formControlName="tarif_mixed_gorod_days"
                                        (ngModelChange)="onChangeMixedTarifGorodDays($event)">
                                </label>
                            </div>
                    
                    
                            <div>
                                <label>
                                    <div>Межгород</div>
                                    <input type="checkbox" style="margin-right: 15px;" formControlName="tarif_mixed_mezjgorod"
                                        (ngModelChange)="onChangeMixedTarifMezjGorod($event)">
                                </label>
                    
                                <label>
                                    <input type="number" placeholder="Кол-во дней" formControlName="tarif_mixed_mezjgorod_days"
                                        (ngModelChange)="onChangeMixedTarifMezjGorodDays($event)">
                                </label>
                            </div>
                    
                    
                            <div>
                                <label>
                                    <div>Россия</div>
                                    <input type="checkbox" style="margin-right: 15px;" formControlName="tarif_mixed_russia"
                                        (ngModelChange)="onChangeMixedTarifRussia($event)">
                                </label>
                    
                                <label>
                                    <input type="number" placeholder="Кол-во дней" formControlName="tarif_mixed_russia_days"
                                        (ngModelChange)="onChangeMixedTarifRussiaDays($event)">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div *ngIf="this.form.value.tariff !== 'Смешанный'">
        <div class="xs_paid" [class.xs_paid_none]="+actualBooking.paidCount < (+summa.summaFull)"
            [class.xs_paid_ok]="+actualBooking.paidCount >= (+summa.summaFull)"
            *ngIf="actualBooking.paidCount && (+summa.summaFull - (+actualBooking.paidCount)) !== 0">
        
            <div *ngIf="extendDays">
                <span class="xs_paid_span_1">Время продления: </span>
                <span class="xs_paid_span_2">{{extendDays || 0}} д</span>
            </div>
        
        
        
            <div>
                <span class="xs_paid_span_1">Сумма к оплате: </span>
                <span class="xs_paid_span_2">{{summa_extend.summa || 0}} ₽</span>
            </div>
        
            <div *ngIf="(+actualBooking.summaFull - (+actualBooking.paidCount)) > 0 ">
                <span class="xs_paid_span_1">Долг на момент продления: </span>
                <span class="xs_paid_span_2">{{+actualBooking.summaFull - (+actualBooking.paidCount)}} ₽</span>
            </div>
        
            <div *ngIf="(+actualBooking.summaFull - (+actualBooking.paidCount)) > 0 ">
                <span class="xs_paid_span_1">Итого к оплате(с учетом долга): </span>
                <span class="xs_paid_span_2">{{+summa_extend.summa + (+actualBooking.summaFull - (+actualBooking.paidCount))}}
                    ₽</span>
            </div>
        
        
        </div>
        
        <div class="xs_paid_sale" *ngIf="actualBooking.paidCount && (+summa.summaFull - (+actualBooking.paidCount)) !== 0">
            <div class="xs_paid_sale__wrap">
                <input type="checkbox" (click)="xs_isSaleCheck()">
                <div>Сделать скидку</div>
            </div>
        
            <div class="xs_paid_sale__hide" ng-model='checkStatus' *ngIf="isSaleCheck">
                <input type="text" placeholder="Введите сумму скидки" formControlName="isSaleCheckbox" id="isSaleCheckbox"
                    (change)="xs_isSaleValue($event)"> руб
            </div>
        </div>
        
        <div class="xs_form_pay__actions" style="width: 100%; margin-top: 40px;"
            *ngIf="(summa.summaFull- actualBooking.paidCount) !== 0">
            <h5>Оплата</h5>
        
            <div class="input-field col s12">
                <input placeholder="0" id="arenda" type="number" class="validate" formControlName="arenda"
                    [ngClass]="{'invalid': form.controls['arenda'].invalid && form.controls['arenda'].touched}">
                <label for="arenda"></label>
                <span class="helper-text red-text" *ngIf="form.controls['arenda'].invalid && form.controls['arenda'].touched">
                    <p *ngIf="form.controls['arenda'].errors?.required">
                        Поле не должно быть пустым
                    </p>
                </span>
            </div>
        
            <div class="xs_form_pay__item">
                <label for="marka">Тип оплаты</label>
                <div class="input-field col s12">
                    <select id="typePayArenda" formControlName="typePayArenda" [(ngModel)]="defaultValueArenda"
                        [ngClass]="{'invalid': form.controls['typePayArenda'].invalid && form.controls['typePayArenda'].touched}">
                        <option value="Наличные" selected>Наличные</option>
        
                        <option *ngFor="let PayType of PayTypes" value="{{PayType.value}}">
                            {{PayType.value}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>


    <div *ngIf="this.form.value.tariff === 'Смешанный'">
        <div class="xs_paid" [class.xs_paid_none]="+actualBooking.paidCount < (+summa.summaFull + this.summa_extend.summa)"
            [class.xs_paid_ok]="+actualBooking.paidCount >= (+summa.summaFull + this.summa_extend.summa)"
            >
        
            <div *ngIf="extendDays">
                <span class="xs_paid_span_1">Время продления: </span>
                <span class="xs_paid_span_2" >{{(+SummaMixedTarif.tarifGorod.days || 0) + (+SummaMixedTarif.tarifMezjGorod.days || 0) + (+SummaMixedTarif.tarifRussia.days || 0)}} д</span>
            </div>
        
        
        
            <div>
                <span class="xs_paid_span_1">Сумма к оплате: </span>
                <span class="xs_paid_span_2">{{summa_extend.summa || 0}} ₽</span>
            </div>
        
            <div *ngIf="(+actualBooking.summaFull - (+actualBooking.paidCount)) > 0 ">
                <span class="xs_paid_span_1">Долг на момент продления: </span>
                <span class="xs_paid_span_2">{{+actualBooking.summaFull - (+actualBooking.paidCount)}} ₽</span>
            </div>
        
            <div *ngIf="(+actualBooking.summaFull - (+actualBooking.paidCount)) > 0 ">
                <span class="xs_paid_span_1">Итого к оплате(с учетом долга): </span>
                <span class="xs_paid_span_2">{{+summa_extend.summa + (+actualBooking.summaFull - (+actualBooking.paidCount))}}
                    ₽</span>
            </div>
        
        
        </div>
        
        <div class="xs_paid_sale" >
            <div class="xs_paid_sale__wrap">
                <input type="checkbox" (click)="xs_isSaleCheck()">
                <div>Сделать скидку</div>
            </div>
        
            <div class="xs_paid_sale__hide" ng-model='checkStatus' *ngIf="isSaleCheck">
                <input type="text" placeholder="Введите сумму скидки" formControlName="isSaleCheckbox" id="isSaleCheckbox"
                    (change)="xs_isSaleValue($event)"> руб
            </div>
        </div>
        
        <div class="xs_form_pay__actions" style="width: 100%; margin-top: 40px;">
            <h5>Оплата</h5>
        
            <div class="input-field col s12">
                <input placeholder="0" id="arenda" type="number" class="validate" formControlName="arenda"
                    [ngClass]="{'invalid': form.controls['arenda'].invalid && form.controls['arenda'].touched}">
                <label for="arenda"></label>
                <span class="helper-text red-text" *ngIf="form.controls['arenda'].invalid && form.controls['arenda'].touched">
                    <p *ngIf="form.controls['arenda'].errors?.required">
                        Поле не должно быть пустым
                    </p>
                </span>
            </div>
        
            <div class="xs_form_pay__item">
                <label for="marka">Тип оплаты</label>
                <div class="input-field col s12">
                    <select id="typePayArenda" formControlName="typePayArenda" [(ngModel)]="defaultValueArenda"
                        [ngClass]="{'invalid': form.controls['typePayArenda'].invalid && form.controls['typePayArenda'].touched}">
                        <option value="Наличные" selected>Наличные</option>
        
                        <option *ngFor="let PayType of PayTypes" value="{{PayType.value}}">
                            {{PayType.value}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    

    

    <div class="xs_add__car___top">
        <div class="xs_add__car__top____actions">
            <button type="submit">
                <span class="material-icons">beenhere</span>Сохранить
            </button>
        </div>
    </div>
</form>

<app-loader *ngIf="!actualBooking"></app-loader>