<app-loader *ngIf="!actualBooking"></app-loader>
<form class="xs_add__car" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="xs_add__car___top">
        <h1>
            <span class="material-icons">contact_mail</span> Оплата брони
        </h1>

        <div class="xs_add__car__top____actions">
            <a [routerLink]="['/view-booking', bookingId]">
                <span class="material-icons">arrow_back_ios</span>Назад
            </a>
            <button type="submit">
                <span class="material-icons">beenhere</span>Сохранить
            </button>
        </div>
    </div>

    <div class="xs_add__car__content">
        <div class="row">

            <div id="information" class="col s12">
                <div class="xs_form_pay">
                    <div class="xs_form_pay__information" *ngIf="actualBooking">
                        <h5>Информация</h5>
                        <div>
                            <span>Номер брони: </span>
                            <span class="pay_last_span">№{{actualBooking.order}}</span>
                        </div>
                        <div>
                            <span>Создана: </span>
                            <span class="pay_last_span">{{actualBooking.date | date : 'd MMMM y, H:mm'}}</span>
                        </div>
                        
                        <div>
                            <span>Автомобиль: </span>
                            <span class="pay_last_span">{{actualBooking.car.marka}} {{actualBooking.car.model}} ({{actualBooking.car.number}})</span>
                        </div>
                        
                        
                        <div *ngIf="actualBooking.tariff.length < 2">
                                <span>Суток:</span>
                                <span >{{actualBooking.booking_days | number: '1.0-0'}} д</span>
                            </div>

                            <div *ngIf="actualBooking.tariff.length > 1">
                                <span>Суток:</span>
                                <span  *ngFor="let tariff of actualBooking.tariff; let i = index"> {{tariff.name}}-{{tariff.days | number: '1.0-0'}} д /</span>
                            </div>
                        
                        
                        <div>
                            <span>Тариф:</span>[
                            <span *ngFor="let tariff of actualBooking.tariff; let i = index"
                                style="display: block; padding-left: 17px; font-size: 12px;">
                                <div>{{tariff.name }} - {{tariff.days }} д - {{tariff.summa }} руб</div>
                            </span>
                        
                        
                            <div style="font-size: 12px; padding-left: 17px;">
                                <span>Цена тарифа:</span>
                                <span *ngFor="let tarifPrice of actualBooking.dop_info_open.tarifPrice; let i = index"> {{ tarifPrice.name }}-{{
                                    tarifPrice.price }} ₽ /</span>
                            </div>
                            ]
                        </div>
                        
   

                        <div class="pay_rashet">
                            <div>
                                <div> <span>Аренда: </span> <span class="pay_last_span">{{ this.summa.summa | number: '1.0-0'}} ₽</span> </div>
                                <div> <span>Залог: </span> <span class="pay_last_span">{{ this.actualBooking.booking_zalog}} ₽</span> </div>
                                <div> <span>Цена подачи авто: </span> <span class="pay_last_span">{{ this.actualBooking.dop_info_open.place_start_price}} ₽</span> </div>
                                <div> <span>Цена приема авто: </span> <span class="pay_last_span">{{ this.actualBooking.dop_info_open.place_end_price}} ₽</span> </div>
                                <div> <span>Доп.услуги: </span> <span class="pay_last_span">{{ this.actualBooking.dop_info_open.additional_services_price}} ₽</span> </div>

                                <div *ngIf="summa.dop_hours > 0"> <span>Доп.час: </span> <span class="pay_last_span">({{summa.dop_hours}}ч) {{
                                        this.summa.car.price_dop_hour * summa.dop_hours}} ₽ </span> </div>
                                        
                                <div> <span>Итого: </span> <span class="pay_last_span">{{ summa.summaFull | number: '1.0-0'}} ₽</span> </div>
                            </div>
                        </div>

                        <div class="xs_paid" [class.xs_paid_none]="+actualBooking.paidCount < (+summa.summaFull)"
                            [class.xs_paid_ok]="+actualBooking.paidCount >= (+summa.summaFull)">
                            <div>
                                <span class="xs_paid_span_1">Оплачено </span>
                                <span class="xs_paid_span_2">{{actualBooking.paidCount}} ₽</span>
                            </div>
                        
                            <div>
                                <span>Остаток</span> <span class="xs_paid_span_2">{{+summa.summaFull - (+actualBooking.paidCount)}} ₽</span>
                            </div>
                        </div>
                        

                    </div>

                    <div class="xs_form_pay__pays">
                        <h5>Платежи</h5>

                        <div class="pay_view_info__contentt">
                            <table class="striped" *ngIf="xspays">
                                <thead>
                                    <tr>
                                        <th>Дата</th>
                                        <th>Сумма</th>
                                        <th>Тип</th>
                                        <th>Группа</th>
                                    </tr>
                        
                                </thead>
                        
                                <tbody >
                                    <tr *ngFor="let pay of xspays; let i = index" class="xs_partners_tr xsbooking">
                                        <td>
                                            <span>{{pay.date | date : 'd MMMM , H:mm'}}</span>
                                        </td>
                                        <td>
                                            <span>{{pay.pricePay}} ₽</span>
                                        </td>
                                        <td>
                                            <span>{{pay.typePay}}</span>
                                        </td>
                                        <td>
                                            <span>{{pay.vidPay}}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                    <div class="xs_form_pay__actions">
                        <h5>Оплата</h5>

                        <div class="input-field col s12">
                            <input placeholder="0" id="arenda" type="number" class="validate" formControlName="arenda"
                                [ngClass]="{'invalid': form.controls['arenda'].invalid && form.controls['arenda'].touched}" >
                            <label for="arenda">Аренда</label>
                            <span class="helper-text red-text"
                                *ngIf="form.controls['arenda'].invalid && form.controls['arenda'].touched">
                                <p *ngIf="form.controls['arenda'].errors?.required">
                                    Поле не должно быть пустым
                                </p>
                            </span>
                        </div>


                        <div class="xs_input_wrap">
                            <label for="place_start_price">Подача авто</label>
                            <div class="input-field pay_mod col s12">
                                <input placeholder="0" id="place_start_price" type="number" class="validate" formControlName="place_start_price"
                                    [ngClass]="{'invalid': form.controls['place_start_price'].invalid && form.controls['place_start_price'].touched}">
                        
                                <span class="helper-text red-text"
                                    *ngIf="form.controls['place_start_price'].invalid && form.controls['place_start_price'].touched">
                                    <p *ngIf="form.controls['place_start_price'].errors?.required">
                                        Поле не должно быть пустым
                                    </p>
                                </span>
                            </div>
                        </div>


                        <div class="xs_input_wrap">
                            <label for="place_end_price">Прием авто</label>
                            <div class="input-field pay_mod col s12">
                                <input placeholder="0" id="place_end_price" type="number" class="validate" formControlName="place_end_price"
                                    [ngClass]="{'invalid': form.controls['place_end_price'].invalid && form.controls['place_end_price'].touched}">
                        
                                <!-- <span class="helper-text red-text"
                                    *ngIf="form.controls['place_end_price'].invalid && form.controls['place_end_price'].touched">
                                    <p *ngIf="form.controls['place_end_price'].errors?.required">
                                        Поле не должно быть пустым
                                    </p>
                                </span> -->
                            </div>
                        </div>


                        <div class="xs_input_wrap">
                            <label for="place_start_price">Доп.услуги</label>
                            <div class="input-field pay_mod col s12">
                                <input placeholder="0" id="additional_services_price" type="number" class="validate" formControlName="additional_services_price"
                                    [ngClass]="{'invalid': form.controls['additional_services_price'].invalid && form.controls['additional_services_price'].touched}">
                        
                                <span class="helper-text red-text"
                                    *ngIf="form.controls['additional_services_price'].invalid && form.controls['additional_services_price'].touched">
                                    <p *ngIf="form.controls['additional_services_price'].errors?.required">
                                        Поле не должно быть пустым
                                    </p>
                                </span>
                            </div>
                        </div>

                        <div class="xs_form_pay__item">
                            <label for="marka">Тип оплаты</label>
                            <div class="input-field col s12">
                                <select id="typePayArenda" formControlName="typePayArenda" [(ngModel)]="defaultValueArenda"
                                    [ngClass]="{'invalid': form.controls['typePayArenda'].invalid && form.controls['typePayArenda'].touched}">
                                    <option value="Наличные" selected>Наличные</option>
                                    
                                    <option *ngFor="let PayType of PayTypes" value="{{PayType.value}}">
                                        {{PayType.value}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="xs_input_wrap">
                            <label for="zalog">Залог</label>
                            <div class="input-field pay_mod col s12">
                                <input placeholder="0"  id="zalog" type="number" class="validate" formControlName="zalog"
                                    [ngClass]="{'invalid': form.controls['zalog'].invalid && form.controls['zalog'].touched}">
                                
                                <span class="helper-text red-text" *ngIf="form.controls['zalog'].invalid && form.controls['zalog'].touched">
                                    <p *ngIf="form.controls['zalog'].errors?.required">
                                        Поле не должно быть пустым
                                    </p>
                                </span>
                            </div>
                        </div>
                        
                        <div class="xs_form_pay__item">
                            <label for="marka">Тип оплаты</label>
                            <div class="input-field col s12">
                                <select id="typePayZalog" formControlName="typePayZalog" [(ngModel)]="defaultValueZalog"
                                    [ngClass]="{'invalid': form.controls['typePayZalog'].invalid && form.controls['typePayZalog'].touched}">
                                    <option value="Наличные" selected>Наличные</option>
                        
                                    <option *ngFor="let arendaPayType of PayTypes" value="{{arendaPayType.value}}">
                                        {{arendaPayType.value}}</option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="xs_add__car___top">
        <div class="xs_add__car__top____actions">
            <button type="submit">
                <span class="material-icons">beenhere</span>Сохранить
            </button>
        </div>
    </div>
</form>
