<form class="xs_generate_docs">
    <div class="xs_generate_docs__top">
        <h1>
            <span class="material-icons">chat</span>
            <span > Отчет за смену №... от 21.06.2023</span>
        </h1>
    
        <div class="xs_generate_docs____actions">
            <app-go-back></app-go-back>

            <button type="submit" class="xs_create_dog" style="margin-top: 0;">
                <span class="material-icons" style="margin-right: 10px;">cloud_download</span> <span>Скачать отчет</span>
            </button>
        </div>
    </div>


    <div class="xs_generate_docs__content"  id="content" #content>
        111
    </div>



    
</form>
<!-- <app-loader ></app-loader> -->