<div class="xs_smena">
    <div class="xs_smena__top">
        <h1>
            <span class="material-icons">chat</span>
            <span> Смены</span>
        </h1>

        <div class="xs_smena__add" *ngIf="!xsOpenSmena">
            <a [routerLink]="['/add-smena']">
                <span class="material-icons">library_add</span> Открыть смену
            </a>
        </div>
    </div>


    <div class="xs_smena__content">
        <app-loader *ngIf="loading"></app-loader>
        
        <table class="striped" *ngIf="!loading">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Дата открытия</th>
                    <th>Ответственный</th>
                    <th>Статус</th>
                    <th>Дата закрытия</th>
                    <!-- <th>Действия</th> -->
                </tr>
        
            </thead>
        
            <tbody>
                <tr  *ngFor="let smena of smenas">
                    <td [routerLink]="['/view-smena',smena._id]">
                        {{smena.order}}
                    </td>

                    <td [routerLink]="['/view-smena',smena._id]">
                        {{smena.open_date}} {{smena.open_date_time}}
                    </td>

                    <td [routerLink]="['/view-smena',smena._id]">
                        {{smena.responsible}}
                    </td>

                    <td *ngIf="smena.status === 'open'" style="color: green; font-weight: 600;" [routerLink]="['/view-smena',smena._id]">
                        Открыта
                    </td>

                    <td *ngIf="smena.status !== 'open'" style="color: red; font-weight: 600;" [routerLink]="['/view-smena',smena._id]">
                        Закрыта
                    </td>

                    <td [routerLink]="['/view-smena',smena._id]" *ngIf="!smena.close_date">
                        ...
                    </td>

                    <td [routerLink]="['/view-smena',smena._id]" *ngIf="smena.close_date">
                        {{smena.close_date}} {{smena.close_date_time}}
                    </td>
        

                    <td class="xs_actions ">
                        <a (click)="onDeleteSmena($event, smena)"><span class="material-icons ">delete</span></a>
                    </td>
                </tr>
            </tbody>
        
            <ng-template #empty>
                <div style="font-size: 20px; " class="xs_empty ">
                    Нет броней...
                </div>
            </ng-template>
        </table>
        
        <div class="xs_cars__more" *ngIf="!noMoreSmenas">
            <span (click)="loadmore()">Загрузить еще...</span>
        </div>
    </div>
</div>
