.xs_smena h1
{
    font-size: 33px;
    line-height: 40px;
    margin: 0;
    color: #333;
}

.xs_smena__add a
{
    display: flex;
    align-items: center;
    padding: 7px 15px;
    border-radius: 7px;
    background-color: #194A9E;
    color: #fff;
}

.xs_smena__add a span
{
    margin-right: 5px;
}

.xs_smena__top
{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}