<div class="xs_smena">
    <div class="xs_smena__top">
        <h1>
            <span class="material-icons">chat</span>
            <span *ngIf="actualSmena"> Смена № {{this.actualSmena.order}}</span>
        </h1>

        <div class="xs_add__car__top____actions">
            <app-go-back></app-go-back>
        </div>
    </div>


    <div class="xs_smena__content">
        <div class="row">
            <div class="xs_smena__content__box" *ngIf="actualSmena">
                <table class="striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Дата открытия</th>
                            <th>Ответственный</th>
                            <th>Статус</th>
                            <th *ngIf="actualSmena.status !== 'open'">Дата закрытия</th>
                            <th *ngIf="actualSmena.status == 'open'">Действия</th>
                        </tr>

                    </thead>

                    <tbody>
                        <tr>
                            <td>
                                {{actualSmena.order}}
                            </td>

                            <td>
                                {{actualSmena.open_date}} {{actualSmena.open_date_time}}
                            </td>

                            <td>
                                {{actualSmena.responsible}}
                            </td>

                            <td *ngIf="actualSmena.status === 'open'" style="color: green; font-weight: 600;">
                                Открыта
                            </td>

                            <td *ngIf="actualSmena.status !== 'open'" style="color: red; font-weight: 600;">
                                Закрыта
                            </td>


                            <td *ngIf="actualSmena.status !== 'open'">
                                {{actualSmena.close_date}} {{actualSmena.close_date_time}}
                            </td>


                            <td class="xs_smena_view_actions ">
                                <span (click)="closeSmena($event)" *ngIf="actualSmena.status == 'open'">Закрыть
                                    смену</span>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>

            <div class="xs_smena__content___info">
                <div *ngIf="xsbookings">
                    <h5>Мониторинг смены</h5>
                    <table class="striped">
                        <thead>
                            <tr>
                                <!-- <th>ID</th> -->
                                <th>Статус</th>
                                <th>Создана</th>
                                <th>Авто</th>
                                <th>Клиент</th>
                                <th>Начало</th>
                                <th>Конец</th>
                                <th>Суток</th>
                                <th>Выдача</th>
                                <th>Прием</th>
                            </tr>

                        </thead>

                        <tbody *ngIf="xsbookings.length !== 0; else empty">
                            <tr *ngFor="let xsbooking of xsbookings; let i = index" class="xs_partners_tr xsbooking"
                                [class.finish_booking]="this.todayDateFormat === (xsbooking.booking_end | date : 'yyyy-MM-dd') && !xsbooking.dop_info_close"
                                [class.you_need_to_give_out_a_car]="you_need_to_give_out_a_car(xsbooking) && !xsbooking.dop_info_close
                                && xsbooking.status === 'В ожидании'">
                                <!-- <td>
                                    <a [routerLink]="['/view-booking',xsbooking._id]">{{xsbooking.order}}</a>
                                </td> -->

                                <td *ngIf="xsbooking.status === 'В ожидании'"
                                    style="display: flex; align-items: center; margin-top: 4px;">
                                    <a [routerLink]="['/view-booking',xsbooking._id]"
                                        class="xs_booking_btn btn_waiting">{{xsbooking.status}}</a>

                                    <span title="Автомобиль должен быть выдан. Время ожидания истекло!"
                                        class="material-icons"
                                        *ngIf="you_need_to_give_out_a_car(xsbooking) && !xsbooking.dop_info_close && xsbooking.status === 'В ожидании'">
                                        lightbulb_outline
                                    </span>

                                </td>

                                <td *ngIf="xsbooking.status === 'В аренде'" style="display: flex; margin-top: 4px;">
                                    <a [routerLink]="['/view-booking',xsbooking._id]"
                                        class=" xs_booking_btn btn_v_arende">{{xsbooking.status}}</a>

                                    <span title="Бронь подходит к концу" class="material-icons"
                                        *ngIf="this.todayDateFormat === (xsbooking.booking_end | date : 'yyyy-MM-dd') && !xsbooking.dop_info_close && xsbooking.status === 'В аренде'">
                                        lightbulb_outline
                                    </span>
                                </td>
                                <td *ngIf="xsbooking.status === 'Закрыта'" style="display: flex; margin-top: 4px;">
                                    <a [routerLink]="['/view-booking',xsbooking._id]"
                                        class="xs_booking_btn btn_close">{{xsbooking.status}}</a>
                                </td>
                                <td>
                                    <a [routerLink]="['/view-booking',xsbooking._id]">{{xsbooking.date | date : 'd MMMM
                                        y, H:mm'}}</a>
                                </td>
                                <td>
                                    <a [routerLink]="['/view-booking',xsbooking._id]">{{xsbooking.car.marka}}
                                        {{xsbooking.car.model}}
                                        ({{xsbooking.car.number}})</a>
                                </td>
                                <td>
                                    <a [routerLink]="['/view-booking',xsbooking._id]"
                                        *ngIf="xsbooking.client.type === 'fiz'">{{xsbooking.client.surname}}
                                        {{xsbooking.client.name}}</a>
                                    <a [routerLink]="['/view-booking',xsbooking._id]"
                                        *ngIf="xsbooking.client.type === 'law'">{{xsbooking.client.short_name}}
                                        {{xsbooking.client.name}}</a>
                                </td>
                                <td>
                                    <a [routerLink]="['/view-booking',xsbooking._id]">{{xsbooking.booking_start | date :
                                        'd MMMM y,
                                        H:mm'}}</a>
                                </td>
                                <td>
                                    <a [routerLink]="['/view-booking',xsbooking._id]">{{ xsbooking.booking_end | date :
                                        'd MMMM y,
                                        H:mm'}}</a>
                                </td>
                                <td>
                                    <a [routerLink]="['/view-booking',xsbooking._id]">{{xsbooking.booking_days | number:
                                        '1.0-0'}}</a>
                                </td>
                                <td>
                                    <a [routerLink]="['/view-booking',xsbooking._id]">{{ xsbooking.place_start}}</a>
                                </td>
                                <td>
                                    <a [routerLink]="['/view-booking',xsbooking._id]">{{ xsbooking.place_end}}</a>
                                </td>
                            </tr>
                        </tbody>

                        <ng-template #empty>
                            <div style="font-size: 20px; " class="xs_empty ">
                                Нет информации...
                            </div>
                        </ng-template>
                    </table>
                </div>

                <div *ngIf="this.xscars.length > 0">
                    <h5>Информация по автомобилям</h5>

                    <table class="striped" >
                        <thead>
                            <tr>
                                <th style="width: 10%;">Изображение</th>
                                <th>Марка</th>
                                <th>Статус</th>
                                <th style="width: 23%;">Время аренды</th>
                                <th>Тариф</th>
                                <th>Рассчет стоимости</th>
                                <th>Залог</th>
                                <th>Общая сумма</th>
                            </tr>

                        </thead>

                        <tbody *ngIf="xscars.length !== 0">
                            <tr *ngFor="let car of xscars" class="xs_cars_td">
                                <td style="width: 10%;">
                                    <a [routerLink]="['/show-car','edit',car._id]">
                                        <img src="{{car.previewSrc}} " alt="Обложка авто " class="xs_car_list_img ">
                                    </a>
                                </td>
                                <td >
                                    <a [routerLink]="['/show-car','edit',car._id]">
                                        {{car.marka}} {{car.model}} ({{car.number}})
                                    </a>
                                </td>
                               


                                <td [routerLink]="['/show-car','edit',car._id]" style="display: flex; flex-direction: column; align-items: flex-start; justify-content: center;">
                                    <div *ngFor="let booking of filteredBookings(car.bookings)">
                                        <span *ngIf="booking.status === 'В аренде'" style="color: red; font-weight: 600;">ЗАНЯТ</span>
                                        <span *ngIf="booking.status === 'В ожидании'" style="color: orange; font-weight: 600;">БРОНЬ</span>
                                    </div>
                                
                                    <div *ngIf="filteredBookings(car.bookings).length === 0" style="color: green; font-weight: 600;">СВОБОДЕН</div>
                                </td>


                                <td  [routerLink]="['/show-car','edit',car._id]" style="display: flex; flex-direction: column; align-items: flex-start; justify-content: center; width: 23%;">
                                    <div *ngFor="let booking of filteredBookings(car.bookings)">
                                        <div style="font-size: 14px;">{{booking.booking_start | date : 'd MMMM y, H:mm'}}  -  {{booking.booking_end | date : 'd MMMM y, H:mm'}}</div>
                                    </div>
                                
                                    <div *ngIf="filteredBookings(car.bookings).length === 0">...</div>
                                </td>

                                <td [routerLink]="['/show-car','edit',car._id]" style="display: flex; flex-direction: column; align-items: flex-start; justify-content: center;">
                                    <div *ngFor="let booking of filteredBookings(car.bookings)">
                                        <div style="font-size: 14px;">{{booking.tariff}}</div>
                                    </div>
                                
                                    <div *ngIf="filteredBookings(car.bookings).length === 0">...</div>
                                </td>

                                <td [routerLink]="['/show-car','edit',car._id]"
                                    style="display: flex; flex-direction: column; align-items: flex-start; justify-content: center;">
                                    <div *ngFor="let booking of filteredBookings(car.bookings)">
                                        <div style="font-size: 14px;">{{booking.dop_info_open.tarifPrice}} * {{booking.booking_days}}</div>
                                    </div>
                                
                                    <div *ngIf="filteredBookings(car.bookings).length === 0">...</div>
                                </td>

                                <td [routerLink]="['/show-car','edit',car._id]"
                                    style="display: flex; flex-direction: column; align-items: flex-start; justify-content: center;">
                                    <div *ngFor="let booking of filteredBookings(car.bookings)">
                                        <div style="font-size: 14px;">{{booking.booking_zalog}} руб / {{booking.booking_life_cycle[0][1].typePay}}</div>
                                    </div>
                                
                                    <div *ngIf="filteredBookings(car.bookings).length === 0">...</div>
                                </td>

                                <td [routerLink]="['/show-car','edit',car._id]"
                                    style="display: flex; flex-direction: column; align-items: flex-start; justify-content: center;">
                                    <div *ngFor="let booking of filteredBookings(car.bookings)">
                                        <div style="font-size: 14px;">{{(+booking.summaFull) - (+booking.booking_zalog)}} руб / {{booking.booking_life_cycle[0][0].typePay}}</div>
                                    </div>
                                
                                    <div *ngIf="filteredBookings(car.bookings).length === 0">...</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>


        <app-loader *ngIf="!this.actualSmena"></app-loader>
    </div>
</div>